
/* Formatting of page */

body {
    background-image: url('Minotaur_03/game_background_2/game_background_2.png');
    background-color: #cccccc;
    background-size: 2000px;
    
   }

#Title{
    background-color: blanchedalmond;
    width:50%;
    margin:auto;
    padding: 10px;
    text-align: center;
    height: 17%;
}
wrapper {
    /* display: flex; */
    justify-content: center;
    min-height: 20%;
}

/* header {
font-size: 2em;
text-align: center;
min-height: 20%;
} */

/* Sets up blank spaces for mystery word */
ul {
    list-style: none;
    display: flex;
    justify-content: center; 
}

#word > li{
    display: inline;
    margin:.4em;
    padding: .4em;
    font-size: .6em;
    background-color: whitesmoke;
    box-shadow: 5px 10px;
    


}
/* Keyboard */
#keyboard{
    width: 60%;
    margin: auto;
    min-height: 20%;
    padding-top:10px;
    text-align: center;

}

#keyboard > button{
    margin:.2em;
    font-size: 2em;
    

}

/* Category section and letter guesses */
aside{
    background-color: blanchedalmond;

    width: 100%;
    display: flex;
    justify-content: center;
    margin:0px;
    height: 20%;
    

}

#wrong{
    background-color:aquamarine;
    width: 40%;
    text-align: center;
}

 h4{
    font-size: .5em;
}

#categories > button {
    padding: 1em;
    margin: 1.5em;
    font-size: .4em;
    
    
}

#categories{
    text-align: center;
    margin:auto;
}
/* Image formatting */


#image{
    min-height: 24%;
    margin-bottom: 155px;
    margin-top:0px;
    
    
    
}

#body{
    position: absolute;
    top: 28%;
    left: 43%;

    z-index: 1
    
}

#Head{

    position: absolute;
    z-index: 2;
    top:15%;
    left: 42%;
    width:280px;
}
#Face{
    z-index: 3;
    position: absolute;
    left: 47%;
    top: 26%;
    width:180px;
}

#Left_Arm{
    position: absolute;
    z-index:4;
    left: 42%;
    top:34%;
}

#Left_Hand{
    position: absolute;
    z-index: 1;
    left: 42%;
    top:41.5%;
    width: 110px;
}

#Left_Leg{
    position: absolute;
    z-index: 0;
    top: 45%;
    left: 44%;

}

#Right_Leg{
    position:absolute;
    z-index:0;
    top:45%;
    left: 48%;
}

#Right_Arm{
    position:absolute;
    z-index: 0;
    top:35%;
    left: 51%;
    transform: scaleX(-1)
}

#Right_Hand{
    position: absolute;
    z-index: -1;
    top:42%;
    left: 53%;
    width: 110px;
}

#Weapon{
    position: absolute;
    z-index: -2;
    left:52%;
    top: 40%;
    transform: rotate(-20deg)
}





@media screen and (max-width: 1700px),
screen and (max-height:800px){
    #image{
        display: none;
    };
   
}


